<!DOCTYPE html>
  <html>

    <head>
      <title>Checkout Products</title>
      <link rel="stylesheet" href="checkout.css">

      <!-- below tag allows any newly created Stripe objects to be globally accessible in code -->
      <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body>
      <h1>YOUR CART ...</h1>
      <section>
        <div class="products">
          <% items.map(item=> { %>
            <div class="product">
              <div><img src="<%= item.image %>" alt="<%= item.name %>"></div>
              <div class="description">
                <h3>
                  <%= item.name %>
                </h3>
                <p>
                  <%= item.description %>
                </p>
                <p>Price: $<%= item.price %>
                </p>
                <p>Quantity: <%= item.quantity %>
                </p>
              </div>
            </div>
            <% }); %>
        </div>
      </section>
      <!-- Checkout Button -->
      <form id="checkout-form">
        <button type="button" id="checkout-button">Checkout</button>
      </form>
    </body>
  </html>

<script>
  const stripe = Stripe('<%= publishKey%>');
  document.getElementById('checkout-button').addEventListener('click', async () => {
    // Create checkout session
    const response = await fetch('/create-checkout-session', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    });
    const { url } = await response.json();
    window.location = url; // Redirect to Stripe Checkout
  });
</script>